<p>Jeder Kokon ist eine Larve, die von einer Schutzhülle umgeben ist.  Larven können ihre Kokons frei betreten und verlassen, können sich aber im Kokon nicht in andere Einheiten verwandeln.</p>
 <p>Clone Larvae klont Kokons, als wären sie normale Larven.  Kokonieren Sie Ihre zum Klonen vorgesehenen Larven, um zu verhindern, dass sie versehentlich ausgegeben werden.</p>

<p>Du produzierst {{ game.unit('larva').velocity().times(options.velocityUnit().mult) | longnum }} Larven pro {{options.velocityUnit().label}}, du kannst sie klonen bis zu
<span ng-if="game.unit('cocoon').isVisible() && game.unit('cocoon').count().greaterThanOrEqualTo(game.upgrade('clonelarvae').effect[0].cap())">{{ game.upgrade('clonelarvae').effect[0].cap() | longnum }} Larven.</span>
<span ng-if="!(game.unit('cocoon').isVisible() && game.unit('cocoon').count().greaterThanOrEqualTo(game.upgrade('clonelarvae').effect[0].cap()))">
  <a ng-href="#{{game.unit('cocoon').url()}}?num={{'@'+game.upgrade('clonelarvae').effect[0].cap()|encodeURIComponent}}">{{ game.upgrade('clonelarvae').effect[0].cap() | longnum }} Larve</a>.
</span>
</p>
