<tabs></tabs>

<div class="container statistics">
  <h1>Statistiken</h1>
  <div ng-repeat="unit in game.unitlist()">{{unit.label}}</div>
  <div class="table-responsive" ng-init="unitlist = (game.unitlist() | filter:showStats)">
    <table class="table" ng-if="unitlist.length > 0">
      <tr>
        <th>Einheit</th>
        <th>Erster Kauf</th>
        <th>Klicks</th>
        <th>manuell gekauft</th>
        <th>Zwillinge</th>
      </tr>
      <tbody>
        <tr ng-repeat="unit in unitlist" ng-init="ustats = unitStats(unit)">
          <td class="name">{{unit.unittype.label}}</td>
          <td>{{ustats.elapsedFirstStr}}</td>
          <td>{{ustats.clicks | bignum}}</td>
          <td>{{ustats.num | bignum}}</td>
          <td>{{ustats.twinnum | bignum}}</td>
        </tr>
      </tbody>
    </table>
    <div ng-if="unitlist.length == 0">
      Keine Einheiten gekauft.
    </div>
  </div>
  <div class="table-responsive" ng-init="upgradelist = (game.upgradelist() | filter:hasUpgradeStats)">
    <table class="table" ng-if="upgradelist.length > 0">
      <tr>
        <th>Aktualisierungen</th>
        <th>Erster Kauf</th>
        <th>Klicks</th>
        <th>insgesamt gekauft</th>
      </tr>
      <tbody>
        <tr ng-repeat="upgrade in upgradelist" ng-init="ustats = upgradeStats(upgrade)">
          <td class="name">{{upgrade.type.label}}</td>
          <td>{{ustats.elapsedFirstStr}}</td>
          <td>{{ustats.clicks | number}}</td>
          <td>{{ustats.num | number}}</td>
        </tr>
      </tbody>
    </table>
    <div ng-if="upgradelist.length == 0">
      Keine Aktualisierungen gekauft.
    </div>
  </div>
  <dl class="dl-horizontal">
    <dt>save file size</dt>
    <dd>{{session.exportSave().length | number}} base64 chars</dd>
    <dt>start date</dt>
    <dd>{{game.momentStarted().fromNow()}} - {{game.dateStarted().toString()}}</dd>
    <dt>last ascended</dt>
    <dd ng-if="game.unit('ascension').count().isZero()">Niemals</dd>
    <dd ng-if="!game.unit('ascension').count().isZero()">{{game.session.state.date.restarted|momentFromNow}} - {{game.session.state.date.restarted.toString()}}</dd>
  </dl>
</div>
